{% extends "bootstrap_base.j2.html" %}
{% block head %}
 <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
  integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
  crossorigin=""/>
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
    integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
    crossorigin=""></script>

<script src="/static/js/underscore-umd-min.js"></script>
<script src="/static/js/jsv.js"></script>
<script src="/static/js/jsonform.js"></script>

<style>
  #map {
    position: relative;
    border: 1px solid black;
    border-radius: 8px;
    height: 600px;  /* or as desired */
    width: 100%;  /* This means "100% of the width of its container", the .col-md-8 */
  }
</style>

{% endblock %}
{% block body %}
<div class="container">
  {% if edit is not defined %}
  <h1 class="fs-3">Create a new Extension</h1>
  {% endif %} {% if edit is defined %}
  <h1 class="fs-3">Edit Extension "{{ edit.name }}"</h1>
  {% endif %}
  <form id="extensionForm" method="post">
    <div class="d-grid gap-2">
      <div class="form-group">
        <div
          id="formError"
          class="text-danger"
          style="display: none"
        ></div>
      </div>
      <div>
        <label for="typeInput" class="form-label">Phone Type</label>
        <select class="form-select" aria-label="Extension type selector" name="type" id="typeInput" {% if edit is defined %}disabled{% endif %}>
          {% for phone_type in telephoning.get_all_phone_types() %}
          {% set flavor = telephoning.get_flavor_by_type(phone_type) %}
            {% if user.role == 'admin' or flavor.is_public() %}
              {% if edit is defined %}
              <option {% if edit.type == phone_type %} selected {% endif %} value="{{ phone_type }}">{{ phone_type }}</option>
              {% else %}
              <option {% if index0 == 0 %} selected {% endif %} value="{{ phone_type }}">{{ phone_type }}</option>
              {% endif %}
            {% endif %}
          {% endfor %}
        </select>
      </div>
      <div>
        <label for="extensionInput" class="form-label">Extension</label>
        <input
          type="text"
          class="form-control"
          id="extensionInput"
          placeholder="1234"
          name="extension"
          {% if edit %}value="{{ edit.extension }}" {% endif %}
          minlength="{{ settings.EXTENSION_DIGITS }}"
          maxlength="{{ settings.EXTENSION_DIGITS }}"
          aria-describedby="extensionHelpBlock"
          oninput="vanity_check_extension()"
          {% if edit is defined %}disabled{% endif %}
          required
        />
        <div id="extensionHelpBlock" class="form-text">
          The extension must be {{ settings.EXTENSION_DIGITS }} digits long. If
          you enter letters they will automatically be converted to their vanity
          digits.
        </div>
      </div>
      <div>
        <label for="nameInput" class="form-label">Name</label>
        <input
          type="text"
          class="form-control"
          name="name"
          {% if edit %}value="{{ edit.name }}"{% endif %}
          required
          id="nameInput"
          placeholder="{{ user.username }}'s extension"
        />
      </div>
      <div>
        <label for="infoInput" class="form-label">Info</label>
        <input
          type="text"
          class="form-control"
          id="infoInput"
          name="info"
          {% if edit %}value="{{ edit.info }}"{% endif %}
          placeholder="..."
          aria-describedby="infoHelpBlock"
        />
        <div id="infoHelpBlock" class="form-text">
          You can store some information about this extension here. It will not
          be visible for the public.
        </div>
      </div>
      <div>
        <div>
          <label for="locationInput" class="form-label">Location (
            <a data-bs-toggle="collapse" href="#mapCollapse" role="button" aria-expanded="false" aria-controls="mapCollapse" id="mapButton">
            <span><ion-icon name="map-outline"/> </span> Select on Map
          </a>)</label>
          <input
            type="text"
            class="form-control"
            name="location_name"
            {% if edit %}value="{{ edit.location_name }}"{% endif %}
            id="locationInput"
            placeholder="{{ user.username }}'s base"
          />
        </div>
        <div class="form-group">
          
        </div>
        <div class="collapse" id="mapCollapse">
          <button type="button" class="btn btn-primary mb-2" onclick="getLocation();">
            Use your current location
          </button>
          <div id="map">
          </div>
          <div id="locationForm">
            {% if edit is defined and edit.lat_float is not none and edit.lon_float is not none %}
              <input type="hidden" name="lat" value="{{ edit.lat_float }}"/>
              <input type="hidden" name="lon" value="{{ edit.lon_float }}"/>
            {% endif %} 
          </div>
          <div id="extraFields"></div>
        </div>
      </div>
      <div>
        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            value=""
            id="showPublicCheck"
            name="public"
            {% if edit is not defined %}checked{% endif %}
            {% if edit is defined and edit.public %}checked{% endif %}
          />
          <label class="form-check-label" for="showPublicCheck">
            Show in public phonebook
          </label>
        </div>
      </div>
    </div>
  </form>
  <form action="#" id="extraForm">

  </form>
</div>

<script>

  const schemas = {{ telephoning.get_schemas()|safe }};

  function generate_form () {
    // load / clear form for extra inputs
    let form_element = $("#extraForm");
    form_element.html("");

    // load schema for selected type
    let schema = schemas[$("#typeInput").val()];
    if (!schema) schema = {};
    
    // jsonForm expects required attribute in key object not as seperate list
    const { required, ...updatedSchema } = schema;
    if (required) {
      required.forEach((key) => {
        updatedSchema["properties"][key]["required"] = true;
      })
    }

    console.log(updatedSchema)

    // generate new form from schema
    form_element.jsonForm({
      schema: updatedSchema,
      form: [
        "*",
        {
          "type": "submit",
          "title": "{% if edit is not defined %}Add{% else %}Save{% endif %}",
          "htmlClass": "mt-4 float-end"
        }
      ],
      onSubmit: (errors, values) => {
        if (errors === false) {
          // all inputs are valid, create json and submit main form
          const json_values = JSON.stringify(values);
          $("#extraFields").html(`<input type=hidden name="extra_fields" value="${encodeURI(json_values)}"/>`)
          $("#extensionForm").submit();
        }
      }
    });
  }

  $("#typeInput").on("change", generate_form);
  $(window).ready(generate_form);

</script>

<script>
  let vanity_digits = {
    2: ["a", "b", "c"],
    3: ["d", "e", "f"],
    4: ["g", "h", "i"],
    5: ["j", "k", "l"],
    6: ["m", "n", "o"],
    7: ["p", "q", "r", "s"],
    8: ["t", "u", "v"],
    9: ["w", "x", "y", "z"],
  };
  function vanity_check_extension() {
    const input = $("#extensionInput");
    let val = $("#extensionInput").val();
    Object.keys(vanity_digits).forEach((d) => {
      vanity_digits[d].forEach((c) => {
        val = val.replace(c, d);
      });
    });
    input.val(val);
  }

  const reserved_extensions = JSON.parse('{{ settings.RESERVED_EXTENSIONS }}'.replace("(", "[").replace(")", "]"));

  $("#extensionForm").on("submit", (e) => {
    
    // sanity check extension length
    let ext_length = $("#extensionInput").val().length
    if ((ext_length) != {{ settings.EXTENSION_DIGITS }}) {
        $("#formError").text("Extension must be {{ settings.EXTENSION_DIGITS }} digits long!");
        $("#formError").css("display", "block");
        e.preventDefault();
    }

    // check required fields
    $("[required]").each(function() {
      if (!$(this).val()) {
        $("#formError").text(`A value for ${$(this).attr("name")} is required!`);
        $("#formError").css("display", "block");
        e.preventDefault();
        return;
      }
    })

{% if user.role != 'admin' %}
    // sanity check reserved extensions
    reserved_extensions.forEach(rule => {
      let ext = parseInt($("#extensionInput").val());
      if ((rule.length === 2 && ext >= rule[0] && ext <= rule[1]) || ext === rule) {
        $("#formError").text("This extension is reserved, please use a different number!");
        $("#formError").css("display", "block");
        e.preventDefault();
      }
    });

{% endif %}
  });

  

  var map = L.map('map');
  {% if edit is defined and edit.lat_float is not none and edit.lon_float is not none %}
  var marker = L.marker([{{ edit.lat_float }}, {{ edit.lon_float }}]).addTo(map);
  {% else %}
  var marker = L.marker([0, 0]);
  {% endif %}

  $(window).ready(() => {
    {% if edit is defined and edit.lat_float is not none and edit.lon_float is not none %}
    map.setView([{{ edit.lat_float }}, {{ edit.lon_float }}], 19);
    {% else %} 
    map.setView([{{ settings.SITE_LAT }}, {{ settings.SITE_LON }}], 15);
    {% endif %}
    L.tileLayer('https://tile.openstreetmap.de/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
    }).addTo(map);
  })

  $('#mapCollapse').on('shown.bs.collapse', (e) => {
    map.invalidateSize(true);
  });

  map.on('click', (e) => {
    marker.addTo(map);
    marker.setLatLng(e.latlng);
    $("#locationForm").html(`
    <input type="hidden" name="lat" value="${e.latlng.lat}"/>
    <input type="hidden" name="lon" value="${e.latlng.lng}"/>
    `)
  })

  function getLocation() {
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition((pos) => {
        marker.addTo(map);
        marker_pos = new L.LatLng(pos.coords.latitude, pos.coords.longitude);
        marker.setLatLng(marker_pos);
        map.setView(marker_pos, 19);
        $("#locationForm").html(`
        <input type="hidden" name="lat" value="${pos.coords.latitude}"/>
        <input type="hidden" name="lon" value="${pos.coords.longitude}"/>
        `)
      }, (e) => {alert(e.message)});
    } else {
      alert("Geolocation is not supported by this browser.");
    }
  }

  marker.on('click', (e) => {
    map.removeLayer(marker);
    marker.setLatLng(new L.LatLng(0, 0));
    $("#locationForm").html("");
  })

</script>

{% endblock %}