{% extends "bootstrap_base.j2.html" %} {% block body %}

<div class="container">
  <h1 class="fs-3">Your Extensions</h1>
  <a href="/extension/create">Add a new extension</a>
  <hr />
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Public</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for extension in user.extensions %}
      <tr>
        <td scope="row">
          <a href="tel:{{ extension.extension }}">{{ extension.extension }}</a>
        </td>
        <td>{{ extension.name }}</td>
        <td>
          <input
            class="form-check-input"
            type="checkbox"
            {%
            if
            extension.public
            %}checked{%endif%}
            disabled
          />
        </td>
        <td>
          <a
            class="text-danger text-decoration-none me-4"
            href="/extension/delete/{{ extension.extension }}"
          >
            <ion-icon name="trash"></ion-icon>
          </a>

          <a class="text-success" href="/extension/edit/{{ extension.extension }}">
            <ion-icon name="pencil"></ion-icon>
          </a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
