<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img
        src="/static/asset/logo.svg"
        alt=""
        width="30"
        height="24"
        class="d-inline-block align-text-top"
      />
      {{ settings.SITE_NAME }} — µURU</a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link {% if request.url.path == '/phonebook' %}active{% endif %}"
            aria-current="page"
            href="/"
            >Phonebook</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link {% if request.url.path == '/map' %}active{% endif %}"
            aria-current="page"
            href="/map"
            >Map</a
          >
        </li>
        {% if user is defined and user is not none %}
        <li class="nav-item">
          <a
            class="nav-link {% if request.url.path == '/extension/own' %}active{% endif %}"
            href="/extension/own"
            >Your Extensions</a
          >
        </li>
        {% endif %} {% if user is defined and user.role == "admin" %}
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Admin
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/admin/users">Users</a></li>
            <li><a class="dropdown-item" href="/admin/extensions">Extensions</a></li>
          </ul>
        </li>
        {% endif %}
      </ul>
      <ul class="navbar-nav navbar-end">
        {% if user is not defined or user is none %}
        <li class="nav-item float-end">
          <a class="nav-link" href="/user/login">Login</a>
        </li>
        {% else %}
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            {{ user.username }}
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/user/settings">Settings</a></li>
            <li><a class="dropdown-item" href="/user/logout">Logout</a></li>
          </ul>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
