[asterisk]
Driver = MariaDB Unicode
Description = MariaDB connection to ‘asterisk’ database
Server = ${MARIADB_HOST}
Port = 3306
Database = ${MARIADB_DATABASE}
UserName = ${MARIADB_USER}
Password = ${MARIADB_PASSWORD}