{% extends "bootstrap_base.j2.html" %} {% block navbar %}{% endblock %} {% block
head %}
<style>
  html,
  body {
    height: 100%;
  }

  body {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-align: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
  }

  .form-login {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
  }
</style>
{% endblock %} {% block body %}
<form class="form-login" method="POST">
  <div class="d-grid gap-2">
    <h1 class="h3 mb-3 font-weight-normal text-center">
      {{ settings.SITE_NAME }} - µURU<br />
      Please sign in
    </h1>
    <div class="form-floating">
      <input
        type="text"
        class="form-control"
        id="inputUsername"
        name="username"
        placeholder="Username"
      />
      <label for="inputUsername">Username</label>
    </div>
    <div class="form-floating">
      <input
        type="password"
        class="form-control"
        id="inputPassword"
        name="password"
        placeholder="Password"
      />
      <label for="inputPassword">Password</label>
    </div>
    <button class="btn btn-lg btn-primary btn-block mt-3 submit" type="submit">
      Sign in
    </button>
    <button
      type="button"
      class="btn btn-link"
      data-bs-toggle="modal"
      data-bs-target="#registerModal"
    >
      Register a new account here!
    </button>
  </div>
</form>

<div
  class="modal fade"
  id="registerModal"
  tabindex="-1"
  aria-labelledby="registerModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="registerModalLabel">
          Create a new Account
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <form id="registerForm" action="/user/register" method="post">
        <div class="modal-body d-grid gap-2">
          <div class="form-floating">
            <input
              type="text"
              class="form-control"
              id="registerInputUsername"
              name="username"
              placeholder="Username"
              required
            />
            <label for="registerInputUsername">Username</label>
          </div>
          <div class="form-floating">
            <input
              type="password"
              class="form-control"
              id="registerInputPassword"
              name="password"
              placeholder="Password"
            />
            <label for="registerInputPassword">Password</label>
          </div>
          <div class="form-floating">
            <input
              type="password"
              class="form-control"
              id="registerInputPasswordRepeat"
              name="password"
              placeholder="Password"
            />
            <label for="registerInputPasswordRepeat">Repeat Password</label>
          </div>
          <div class="form-group">
            <div
              id="registerError"
              class="text-danger"
              style="display: none"
            ></div>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
          <button type="submit" class="btn btn-primary">Register</button>
        </div>
      </form>
    </div>
  </div>
</div>

<script>
  $("#registerForm");
  document
    .getElementById("registerForm")
    .addEventListener("submit", function (event) {
      const username = $("#registerInputUsername").val();
      const password = $("#registerInputPassword").val();
      const repeatPassword = $("#registerInputPasswordRepeat").val();
      const errorField = $("#registerError");

      if (username.length == 0) {
        event.preventDefault();
        errorField.text("Username is required.");
        errorField.css("display", "block");
        return;
      } else if (password.length < 10) {
        event.preventDefault();
        errorField.text("The password must be at least 10 characters long.");
        errorField.css("display", "block");
        return;
      } else if (password !== repeatPassword) {
        event.preventDefault();
        errorField.text("The passwords do not match.");
        errorField.css("display", "block");
        return;
      } else {
        passwordError.css("display", "none");
      }
    });
</script>

{% endblock %}
